<% if user_signed_in? %>
  <% if book.favorited_by?(current_user) %>
    <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
	  <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
      <%= book.favorites.count %> いいね
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book), method: :post, remote: true do %>
	  <i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i>
	  <%= book.favorites.count %> いいね
	<% end %>
  <% end %>
<% else %>
  <P><%= book.favorites.count %> いいね</P>
<% end %>



