<div class="container">
  <div class="row">
	<div class="col-xs-3">
		<%= render 'users/profile', book: @book, user: @user %>
		<!--メモ　右側の指定に注意。そこを間違えるとエラーが発生して表示されない -->
        <%= render 'relationships/follow_button', user: @user %>
		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>
	</div>

	<div class="col-xs-9">
		<h2>Books</h2>
		<!--books一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
					<th colspan="4"></th>
				</tr>
			</thead>

			<tbody>
				<% @books.each do |book| %>
				  <%= render partial: 'favorites/index', locals: { book: book} %>
				<% end %>
			</tbody>
		</table>
		<% @all_ranks.each do |book| %>
		    <%= book.title %>
		<% end %>

	</div>
</div>
</div>
<% current_user.address %>